#video_screen_container {
  height: 94.913%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5%;
  padding-bottom: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#left_container {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  padding-left: 1.6%;
  gap: 1.4%;
  overflow-y: scroll;
  flex-wrap: nowrap;
  scrollbar-width: none;
  scroll-behavior: smooth;
  padding-top: 30px;
}
#right_container {
  height: 100%;
  width: 25%;
  padding-left: 1.8%;
  padding-right: 1.2%;
  display: flex;
  align-items: center;
  gap: 0.9%;
  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding-top: 30px;
  min-width: 450px;
}
#video_player {
  width: 100%;
  aspect-ratio: 16/9;
  align-self: flex-end;
  background-color: #000000;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
#control_container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 5;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#top_container {
  height: 3.34%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.8%;
  padding-left: 1%;
}
#top_name_container {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  font-size: 28px;
  color: white;
  font-family: sans-serif;
}
#top_features_container {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1%;
  gap: 2%;
}
.top_features_container {
  height: 100%;
  width: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top_features_container i {
  font-size: 30px;
  color: white;
}
#middle_container {
  height: 90.43%;
  width: 100%;
}
#bottom_container {
  height: 6.2%;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.3%;
}
#progress_bar_container {
  height: 5%;
  width: 98%;
  background-color: #333333;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 100ms linear;
}
#progress_bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #ff0033;
  transition: all 150ms linear;
  cursor: pointer;
}
#progress_circle {
  height: 500%;
  width: 0.885%;
  background-color: #ff0033;
  position: absolute;
  left: 0%;
  border-radius: 50%;
  cursor: pointer;
  transition: all 100ms linear;
}
#video_control_container {
  height: 90%;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#right_video_control_container {
  height: 100%;
  width: 78%;
  display: flex;
  align-items: center;
}
.right_video_control {
  height: 100%;
  width: 4.1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right_video_control i {
  font-size: 22px;
  color: white;
}
#volume_container_wrapper {
  justify-content: start;
  width: auto;
  transition: all ease-in-out 200ms;
}
#volume_container_wrapper i {
  height: 100%;
  flex: 1;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
}
#video_volume_container {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 6%;
}
#time_container {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  font-family: sans-serif;
  padding-left: 0.5%;
  cursor: default;
}
#video_volume_progress_container {
  height: 8%;
  width: 100%;
  background-color: #333333;
}
#video_player video {
  height: 100%;
  width: 100%;
}
#left_container #video_title {
  width: 100%;
  height: auto;
  max-height: 60px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  font-family: sans-serif;
  flex-shrink: 0;
  overflow: hidden;
}
#left_container #video_options {
  width: 100%;
  height: 5.42%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
#right_video_options {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}
#right_video_options #channel_logo {
  height: 83%;
  width: 6%;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#right_video_options #channel_logo img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: 100%;
}
#video_screen_channel_info_cont {
  height: 100%;
  width: 17%;
  display: flex;
  flex-direction: column;
  gap: 1%;
}
#video_screen_channel_name {
  height: 60%;
  width: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  color: #fff;
  font-weight: 650;
}
#video_screen_subscribers {
  height: 40%;
  width: 100%;
  font-size: 12px;
  font-family: sans-serif;
  color: #a0aaaa;
}
#subscribe_button {
  height: 75%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000000;
  border-radius: 24px;
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
}
#left_video_options {
  height: 100%;
  width: 50%;
  padding: 0.2%;
  padding-left: 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 350px;
}
.left_video_option {
  height: 86%;
  background-color: #272727;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.3%;
  cursor: pointer;
  gap: 3%;
}
.left_video_option_icon_cont {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left_video_option_icon_cont i {
  color: white;
  font-size: 17px;
}
.left_video_option_name {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
  font-family: sans-serif;
}
#horizontal_three_dots {
  width: 6.6%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#horizontal_three_dots {
  font-size: 19px;
  color: white;
  transform: rotate(90deg);
}
#save_button {
  width: 13.5%;
}
#clip_button {
  width: 12.6%;
}
#download_button {
  width: 18.6%;
}
#share_button {
  width: 14.5%;
}
#like_unlike_buttons {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0 1%;
}
.like_unlike_button {
  height: 80%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#dislike_container {
  border-left: 1px solid #525252;
  padding-left: 3%;
}
.like_unlike_button_icon_cont {
  height: 90%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.like_unlike_button_icon_cont i {
  color: #fff;
  font-size: 17px;
}
.like_unlike_button_name {
  height: 90%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 600;
  font-size: 15px;
  color: white;
  font-family: sans-serif;
}
#recomendation_video_container {
  height: 9.66%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
#recomendation_video_thumbnail_container {
  height: 100%;
  aspect-ratio: 16/9;
  background-color: #000000;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
}
#recomendation_video_thumbnail_container img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: 100%;
}
#recomendation_video_thumbnail_container video {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: 100%;
}
#recomendation_video_thumbnail_container .duration {
  position: absolute;
  bottom: 2%;
  right: 3%;
  z-index: 3;
  height: 20%;
  min-width: 8%;
  background-color: rgba(12, 8, 7, 0.8);
  padding: 0 1% 0 1%;
  color: #f7fff9;
  font-size: 13px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}
#recomendation_video_info {
  height: 100%;
  flex: 1;
  padding-left: 3%;
}
#recomendation_video_name {
  height: 47%;
  width: 250px;
  padding-bottom: 2%;
  color: white;
  font-size: 15px;
  font-weight: 100;
  font-family: sans-serif;
  padding-top: 1.5%;
  padding-right: 3%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* limit to 2 lines */
  line-clamp: 2; /* standard property for compatibility */
  -webkit-box-orient: vertical;
  line-height: 23px;
}
#recomendation_video_channel_name {
  height: 22%;
  width: 100%;
  color: #a0aaaa;
  font-size: 13px;
  display: flex;
  align-items: center;
}
#recomendation_video_extra_info {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5%;
}
#recomendation_video_views {
  color: #a0aaaa;
  font-family: sans-serif;
  font-size: 11px;
}
#recomendation_video_time {
  color: #a0aaaa;
  font-family: sans-serif;
  font-size: 11px;
}
#new_logo {
  height: 15%;
  width: 100%;
}
#recomendation_video_threedots_container {
  height: 100%;
  width: 2%;
  display: flex;
  justify-content: center;
  padding-top: 1.5%;
  cursor: pointer;
}
#recomendation_video_threedots_container i {
  font-size: 16px;
  color: white;
}
#left_video_control_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5%;
}
.left_video_control {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left_video_control i {
  font-size: 22px;
  color: white;
}
/* FullScreen Video CSS */
#video_player_fullscreen {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: 100;
}
#video_player_fullscreen video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
#recomendation_video_thumbnail_container #mouseover_option_container {
  height: 62.5%;
  width: 16.07%;
  position: absolute;
  z-index: 5;
  top: 1%;
  right: 3%;
  flex-direction: column;
  justify-content: center;
  gap: 4%;
  align-items: center;
  display: none;
  transition: all 1000ms ease-in-out;
}
#recomendation_video_container:hover #mouseover_option_container {
  display: flex;
}
#mouseover_option_container #clock {
  width: 100%;
  height: 45.75%;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
#mouseover_option_container #clock i {
  font-size: 16px;
  color: white;
}
#mouseover_option_container #queue {
  width: 100%;
  height: 45.75%;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
#mouseover_option_container #queue i {
  font-size: 16px;
  color: white;
}
#discription_container {
  height: 12%;
  width: 100%;
  background-color: #272727;
  flex-shrink: 0;
  margin-top: 12px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}
#more_in_discription {
  position: absolute;
  height: 10%;
  width: auto;
  bottom: 18%;
  right: 2%;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
#less_in_discription {
  position: absolute;
  height: auto;
  width: auto;
  bottom: 10px;
  left: 1.6%;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
#discription {
  height: 90%;
  width: 96%;
  padding: 2.3% 1%;
  font-size: 17px;
  color: white;
  margin-bottom: 1%;
  line-height: 26px;
  overflow: hidden;
}
#video_view_time {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: left;
  padding-left: 1.2%;
  align-items: center;
  position: absolute;
  gap: 0.9%;
}
#video_views {
  height: 100%;
  width: auto;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 550;
}
#video_time {
  height: 100%;
  width: auto;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: white;
}
#create_a_comment_container {
  height: 11%;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 32px;
  flex-shrink: 0;
}
#create_a_comment_heading {
  height: 21.5%;
  width: 100%;
  margin-bottom: 1.6%;
  display: flex;
  align-items: center;
  padding-left: 1%;
}
#totalCommentNumber {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 22px;
  color: white;
  font-weight: 600;
}
#sortBy_Comment {
  height: 100%;
  width: 8%;
  padding: 0.2%;
  padding-left: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.3%;
  cursor: pointer;
  gap: 3%;
  margin-left: 3%;
}
.sortBy_Comment_icon_cont {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sortBy_Comment_icon_cont i {
  color: white;
  font-size: 21px;
}
.sortBy_Comment_name {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  font-family: sans-serif;
}
#create_a_comment {
  height: 56%;
  width: 100%;
  display: flex;
}
#create_a_comment #user_img_container {
  height: 73%;
  width: 3%;
  background-color: #363636;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#user_img_container img {
  height: 100%;
  width: 100%;
  background-size: contain;
}
#create_a_comment #create_a_comment img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: contain;
}
#comment_input_container {
  height: 100%;
  width: 97%;
  padding-left: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#comment_input_container textarea {
  height: 40%;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #717171;
  font-size: 20px;
  color: white;
  resize: none;
}
#comment_input_container textarea:focus {
  border-bottom: 3px solid #b1b1b1;
}
#input_extra_options {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#emoji_button {
  height: 100%;
  width: 2.1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#emoji_button {
  font-size: 24px;
  color: #cccccc;
}
#input_container_button {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
#cancel,
#comment {
  height: 100%;
  padding: 10px;
  width: auto;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}
#cancel:hover,
#comment:hover {
  border-bottom: 1px solid white;
}
#comments_collection_container {
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  flex-direction: column;
  align-items: center;
}
#comment_container {
  width: 100%;
  min-height: 11.25%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}
#comment_box {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-bottom: 16px;
}
#reply_container {
  height: 36px;
  width: 100%;
  margin-left: 4%;
}
#reply_button {
  height: 100%;
  width: 7.8%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
}
#reply_button:hover {
  background-color: rgba(3, 49, 255, 0.2);
}
#reply_button_icon {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: right;
}
#reply_button_icon i {
  font-size: 16px;
  color: #3ea6ff;
}
#reply_button_text {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #3ea6ff;
}
#channel_logo_at_comment {
  height: 48px;
  width: 3.2%;
  background-color: #fff;
  margin-right: 1.2%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#channel_logo_at_comment img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
#comment_info_container {
  height: 100%;
  width: 94%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#comments_three_dots {
  height: 100%;
  width: 2.8%;
  display: flex;
  justify-content: center;
  padding-top: 1%;
  color: white;
  position: relative;
}
#comments_three_dots i{
  cursor: pointer;
}
#comments_three_dots_container{
  height: 40px;
  width: 318%;
  background-color: #282828;
  position: absolute;
  left: -220%;
  top: 40px;
  z-index: 20;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 0;
  flex-direction: column;
}
#comments_three_dots_container_self{
  height: 80px;
  width: 318%;
  background-color: #282828;
  position: absolute;
  top: 40px;
  left: -220%;
  z-index: 20;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 0;
  flex-direction: column;
}
.comments_three_dots_container_self_option{
  flex: 1;
  width: 100%;
  display: flex;
  gap: 16%;
  align-items: center;
  padding-left: 16%;
  cursor: pointer;
}
.comments_three_dots_container_self_option:hover{
  background-color: #363636;
}
#comments_three_dots_container_self_option_text{
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
}
#comment_info {
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1%;
}
#comment_channel_name {
  height: 100%;
  width: auto;
  color: white;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
}
#comment_time {
  height: 100%;
  width: auto;
  color: #aaaaaa;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
}
#users_comment {
  width: 100%;
  height: auto;
  font-size: 20px;
  color: white;
  padding-right: 1%;
  font-size: 16px;
  margin-top: 0.4%;
  margin-bottom: 4px;
  white-space: pre-line;
}
#comment_like_dislike_container {
  height: 36px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.8%;
  margin-bottom: 0.5%;
}
#comment_like_container {
  height: 100%;
  width: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  cursor: pointer;
}
#comment_dislike_container {
  height: 100%;
  width: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 2%;
}
#comment_reply_option {
  height: 100%;
  width: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#comment_like_icon_container,
#comment_dislike_icon_container {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#comment_like_icon_container i,
#comment_dislike_icon_container i {
  font-size: 20px;
  color: white;
}
#comment_like_count,
#comment_dislike_count {
  height: 100%;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #939393;
}
#comment_reply_option {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 20px;
  transition: all 150ms ease-in;
  font-weight: 600;
  font-size: 14px;
}
#comment_reply_option:hover {
  background-color: #363636;
}
#setting_container {
  position: absolute;
  height: 30.1%;
  width: 17.3%;
  background-color: #fff;
  z-index: 5;
  bottom: 8%;
  right: 1.2%;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}
.settings_container_options {
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.settings_container_options:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.setting_option_icon {
  height: 100%;
  width: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.setting_option_icon i {
  font-size: 18px;
  color: white;
}
.setting_option_name {
  height: 100%;
  width: 44%;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: white;
  padding-left: 2%;
}
.setting_option_control {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle_button_container {
  height: 33%;
  width: 34.4%;
  background-color: #807c7c;
  border-radius: 20px;
  position: relative;
  transition: all 120ms ease-in;
  cursor: pointer;
}
.toggle_circle {
  height: 130%;
  width: 50%;
  background-color: #b8c0b4;
  position: absolute;
  top: -15%;
  left: 0%;
  border-radius: 50%;
  transition: all 120ms ease-in;
  cursor: pointer;
}
.setting_option_control_val {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 12%;
  color: white;
  font-size: 13px;
  cursor: pointer;
}
.setting_option_control_icon {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.setting_option_control_icon i {
  font-size: 14px;
  color: white;
}
#playback_container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0%;
  display: flex;
  flex-direction: column;
  gap: 1%;
  padding-top: 2%;
  transition: all 500ms ease-in-out;
}
.playback_options {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: white;
  gap: 1%;
  padding-left: 15%;
  cursor: pointer;
}
.playback_heading {
  padding-left: 6%;
  gap: 5%;
}
#playback_option_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10%;
  cursor: pointer;
}
#playback_option_icon i {
  font-size: 18px;
}
#playback_option_name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  font-size: 15px;
}
.playback_options:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.playback_heading:hover {
  background-color: transparent;
}
#replied_comments_container{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 4%;
}
#subcomment_container{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 6px;
}
#comment_outer_container{
  min-height: 64px;
  width: 100%;
  background-color: #272727;
  border-radius: 8px;
}


/* Responsiveness */

@media screen and (max-width: 1500px){

  #video_screen_container {
    padding: 0;
  }
}
@media screen and (max-width: 1800px){

  #left_container #video_title {
    width: 100%;
    height: auto;
    font-size: 24px;
    font-weight: 700;
    color: white;
    font-family: sans-serif;
    flex-shrink: 0;
  }
  
}
@media screen and (max-width: 1024px){

  #video_screen_container{
    flex-direction: column;
  }
  #create_a_comment_container{
    display: none;
  }
  #comments_collection_container{
    display: none !important;
    height: 0px;
  }
  #left_container{
    width: 96%;
    padding: 15px 0;
    height: 1500% !important;
    overflow: hidden;
  }
  #video_screen_container {
    overflow-y: scroll;
    max-width: auto;
  }
  #discription_container{
    border-radius: 8px;
  }
  #right_container{
    display: none;
  }
  #left_container #video_title{
    font-size: 20px;
    padding-top: 12px;
  }
  #download_button,  #clip_button{
    display: none;
  }
  .left_video_option_name{
    width: auto;
    font-size: 12px;
  }
  #left_video_options{
    width: 40%;
    padding: 0;
    gap: 12px;
    justify-content: end;
  }
  #like_unlike_buttons{
    width: 40%;
  }
  #horizontal_three_dots{
    height: 40px !important;
    width: 40px !important;
  }
  #share_button, #save_button{
    flex: 1;
    padding: 0 10px;
    gap: 8px;
    max-width: 65px;
  }
  #right_video_options{
    gap: 12px;
  }
  #channel_logo{
    min-width: 34px;
  }
  #video_screen_channel_info_cont{
    width: auto;
  }
  #subscribe_button{
    width: auto;
    padding: 0px 6px;
  }
}

@media screen and (max-width: 640px){
  #save_button, #share_button{
    display: none;
  }
  #left_video_options{
    width: 30% !important;
    padding: 0;
    gap: 6px;
    justify-content: end;
    min-width: 250px;
  }
  #right_video_options{
    gap: 6px;
    width: 50%;
  }
  #like_unlike_buttons{
    width: 50%;
  }
}

@media screen and (max-width: 480px){
  #save_button, #share_button{
    display: none;
  }
  #left_video_options{
    width: 30% !important;
    padding: 0;
    gap: 6px;
    justify-content: end;
    min-width: 150px;
  }
  #right_video_options{
    width: 50%;
    gap: 6px;
  }
  #like_unlike_buttons{
    width: 70%;
  }
}