#sidebar_container {
  height: 100%;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-shrink: 0;
  scrollbar-color: #717171 #0f0f0f;
  min-width: 251px;
}
#basic_sidebar_option_cont {
  width: 95%;
  height: 16.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8% 2% 7% 3%;
  border-bottom: 1px solid #3f3f3f;
  flex-shrink: 0;
}
.basic_sidebar_options {
  width: 100%;
  height: 32%;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.basic_sidebar_options:hover {
  background-color: #272727;
}
.home {
  background-color: #272727;
}
.basic_sidebar_option_icon {
  height: 100%;
  width: 19%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 7%;
}
.basic_sidebar_option_icon i {
  font-size: 20px;
  color: #fff;
}
.basic_sidebar_option_name {
  height: 100%;
  width: 81%;
  display: flex;
  align-items: center;
  color: white;
  padding-left: 12%;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 450;
}
#extra_sidebar_option_cont {
  width: 95%;
  height: 31.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4% 2% 7% 3%;
  border-bottom: 1px solid #3f3f3f;
  flex-shrink: 0;
}
.basic_sidebar_text {
  font-size: 20px;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: left;
  padding-left: 8%;
  font-weight: 500;
}
.subs_sidebar_text:hover {
  background-color: #0f0f0f;
}
#subs_sidebar_option_cont {
  width: 95%;
  height: 31.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4% 2% 7% 3%;
  border-bottom: 1px solid #3f3f3f;
  flex-shrink: 0;
}
.sidebar_channel_img {
  width: 27%;
  padding-left: 0%;
  padding-left: 2%;
  border-radius: 50%;
}
.sidebar_channel_img > img {
  height: 78%;
  width: 64.3%;
  border: 0;
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  object-fit: cover;
  box-shadow: none;
  image-rendering: auto;
}
.sidebar_channel_text {
  padding-left: 4%;
}
.subs_sidebar_text {
  font-size: 17px;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: left;
  padding-left: 2%;
  font-weight: 600;
}
#advanced_sidebar_option_cont {
  width: 95%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4% 2% 7% 3%;
  border-bottom: 1px solid #3f3f3f;
  flex-shrink: 0;
}
#more_sidebar_option_cont {
  width: 95%;
  height: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4% 2% 7% 3%;
  border-bottom: 1px solid #3f3f3f;
  flex-shrink: 0;
}
.more_sidebar_text {
  font-size: 13px;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: left;
  padding-left: 8%;
  font-weight: 500;
}
.more_sidebar_text:hover {
  background-color: #0f0f0f;
}
#other_sidebar_option_cont {
  width: 95%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4% 2% 7% 3%;
  border-bottom: 1px solid #3f3f3f;
  flex-shrink: 0;
}
#last_sidebar_option_cont {
  width: 95%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 8% 2% 7% 2%;
  border-bottom: 1px solid #3f3f3f;
  flex-shrink: 0;
}
#last_sidebar_option1 #last_sidebar_option2 {
  width: 100%;
}
#last_sidebar_option1 span {
  color: #adadad;
  margin: 8px;
  font-size: 14px;
  margin-bottom: 12px;
  cursor: pointer;
}
#last_sidebar_option2 span {
  color: #adadad;
  margin: 8px;
  font-size: 14px;
  margin-bottom: 12px;
  cursor: pointer;
}
#copyright_msg {
  color: #adadad;
  font-size: 15px;
  margin-top: 10px;
}

#sidebarsmall_container {
  height: 100%;
  width: 3.4%;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  flex-shrink: 0;
  scrollbar-color: #717171 #0f0f0f;
  min-width: 72px;
  padding: 0.5% 4px;
}
#smallsidebar_option {
  height: 7.24%;
  width: 100%;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 8px;
}
#smallsidebar_icon {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#smallsidebar_icon i {
  font-size: 20px;
  color: white;
}
#smallsidebar_name {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 11px;
  font-family: sans-serif;
}
#smallsidebar_option:hover {
  background-color: #3f3f3f;
}


/* Responsiveness */

@media screen and (max-width: 800px){

  #sidebar_container{
    position: absolute;
    z-index: 120;
    background-color: #0f0f0f;
    box-shadow: 4px 20px 20px rgb(0, 0, 0);
  }

  #sidebarsmall_container{
    display: none;
  }
  
}