#content_container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 1.8%;
  padding-right: 2%;
  scrollbar-width: thin;
  scrollbar-color: #717171 #0f0f0f;
}
.video_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}
.video {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  position: relative;
  aspect-ratio: 1.27;
}
.video::after {
  content: "";
  position: absolute;
  height: 104%;
  width: 104%;
  z-index: -1;
  border-radius: 24px;
  top: -2%;
  left: -2%;
}
.video:hover::after {
  background-color: #272727;
  transition: all 200ms ease-in-out;
}
#mouseover_option_container {
  height: 40%;
  width: 10.07%;
  position: absolute;
  z-index: 5;
  top: 2%;
  right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#mouseover_option_container #speaker {
  width: 100%;
  height: 45.75%;
  border-radius: 50%;
  transition: all 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mouseover_option_container:hover #speaker {
  background-color: rgba(39, 39, 39, 0.5);
}
#speaker i {
  font-size: 20px;
  color: white;
}
#mouseover_option_container #subtitle {
  width: 100%;
  height: 45.75%;
  border-radius: 50%;
  transition: all 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mouseover_option_container:hover #subtitle {
  background-color: rgba(39, 39, 39, 0.5);
}
#subtitle i {
  font-size: 20px;
  color: white;
}
#home_progress_bar {
  height: 1%;
  width: 100%;
  position: absolute;
  bottom: 0%;
  background-color: rebeccapurple;
}
.thumbnail {
  height: 70%;
  width: 100%;
  position: relative;
}
.thumbnail img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 12px;
}
#video {
  height: 70%;
  width: 100%;
  position: relative;
  display: block;
  border-radius: 6px;
  overflow: hidden;
}
#progress_bar_container_home {
  height: 1%;
  width: 100%;
  background-color: #bebebe;
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 100ms linear;
  bottom: 0%;
}
#progress_bar_container_home:hover #progress_circle_home {
  display: block;
}
#progress_bar_container_home:hover {
  height: 1.5%;
}
#progress_bar_home {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #ff0033;
  transition: all 150ms linear;
  cursor: pointer;
}
#progress_circle_home {
  height: 500%;
  width: 0.885%;
  background-color: #ff0033;
  position: absolute;
  left: 0%;
  border-radius: 50%;
  cursor: pointer;
  transition: all 100ms linear;
  display: none;
}
#video video {
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-size: 100%;
  background-color: #000;
}
.duration {
  position: absolute;
  bottom: 2%;
  right: 3%;
  z-index: 3;
  height: 7.6%;
  min-width: 8%;
  background-color: rgba(12, 8, 7, 0.65);
  padding: 0 1% 0 1%;
  color: #f7fff9;
  font-size: 14px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}
.video_details {
  width: 100%;
  height: 30%;
  display: flex;
  padding-top: 2.5%;
}
.channel_logo_container {
  width: 8.4%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.channel_logo_container img {
  height: 85%;
  width: 85%;
  border-radius: 50%;
  background-position: center;
  background-size: 100%;
}
.extra_option {
  width: 8.4%;
  height: 40%;
}
.video_info {
  width: 83.2%;
  height: 93%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 2%;
}
.video_title {
  width: 100%;
  height: 48%;
  margin-bottom: 2%;
  color: white;
  font-family: sans-serif;
  font-size: 17px;
  overflow: hidden;
  font-weight: 500;
  line-height: 22px;
}
.channel_name {
  width: 100%;
  height: 20%;
  color: #9c9c9c;
  font-family: sans-serif;
  font-size: 16px;
}
.addtional_info {
  width: 100%;
  height: 20%;
  color: #9c9c9c;
  font-family: sans-serif;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 4%;
}
.extra_option {
  width: 8.4%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.extra_option i {
  color: #c0c0c0;
  font-size: 18px;
}
.links {
  text-decoration: none;
}

#suggestion_container {
  height: 5.4%;
  width: 100%;
  margin-bottom: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  overflow-x: hidden;
  margin-top: 0.4%;
}
#suggestion_subcontainer {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  transition: all 1000ms cubic-bezier(0.05, 0, 0, 1);
}
#suggestions {
  height: 58%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #272727;
  padding: 12px 16px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
#suggestions:first-child {
  background-color: #fff;
  color: #000;
}
#suggestion_left_shadow {
  height: 100%;
  width: 6%;
  position: absolute;
  top: 0%;
  left: 0%;
  background: linear-gradient(to right, #0f0f0f 30%, transparent);
  z-index: 5;
}
#suggestion_right_shadow {
  height: 100%;
  width: 6%;
  position: absolute;
  top: 0%;
  right: 0%;
  background: linear-gradient(to left, #0f0f0f 30%, transparent);
  z-index: 5;
}
#suggestion_left_arrow {
  height: 77%;
  width: 2.2%;
  position: absolute;
  left: 0;
  z-index: 6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
}
#suggestion_left_arrow i {
  font-size: 16px;
  color: white;
}
#suggestion_left_arrow:hover {
  background-color: #272727;
}
#suggestion_right_arrow {
  height: 77%;
  width: 2.2%;
  position: absolute;
  right: 0;
  z-index: 6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
}
#suggestion_right_arrow i {
  font-size: 16px;
  color: white;
}
#suggestion_right_arrow:hover {
  background-color: #272727;
}


/* Responsiveness */

@media screen and (max-width: 1600px){

  .video_container{
    grid-template-columns: 1fr 1fr 1fr;

  }
}

@media screen and (max-width: 1000px){

  .video_container{
    grid-template-columns: 1fr 1fr;

  }
}

@media screen and (max-width: 600px){

  .video_container{
    grid-template-columns: 1fr;
  }
  #content_container{
    width: 100%!important;
  }
}

@media screen and (max-width: 800px){

  #content_container{
    width: 100%!important;
  }
}