#content_container_shorts {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #717171 #0f0f0f;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
#shorts_container {
  height: 95.5%;
  width: 31.5%;
  margin-left: 36.5%;
  margin-top: 0.8%;
  display: flex;
  align-items: center;
  transform: translateX(-54%);
  transition: all 300ms linear;
}
#shorts_screen {
  height: 100%;
  width: 86.4%;
  background-color: #272727;
  border-radius: 16px;
  position: relative;
}
#shorts_side_container {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.5%;
}
.shorts_side_container_options {
  height: 8%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shorts_side_container_options_icon {
  height: 66%;
  width: 75%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.shorts_side_container_options_icon i {
  font-size: 24px;
  color: #fff;
}
.shorts_side_container_options_count {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
}
.shorts_side_options {
  height: 5.3%;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.shorts_side_options i {
  font-size: 24px;
  color: #fff;
}

#shorts_screen_controls {
  width: 100%;
  height: 8%;
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  padding: 0 4%;
  align-items: flex-end;
  gap: 3.6%;
}
.shorts_screen_control {
  height: 70%;
  width: 10.8%;
  background-color: #0f0f0f;
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 50%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.short_fullscreen_button {
  margin-left: auto;
}
.shorts_screen_control i {
  font-size: 18px;
  color: white;
}
#shorts_screen_info {
  height: 13%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#shorts_screen_channel_info {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 4%;
  gap: 2%;
}
#shorts_screen_channel_logo {
  height: 81.4%;
  width: 8%;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
#shorts_screen_channel_name {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
#shorts_screen_channel_sub_button {
  height: 70%;
  width: auto;
  padding: 0 12px;
  font: 15px;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 560;
  cursor: pointer;
}
#shorts_screen_title {
  height: 50%;
  width: 100%;
  font-size: 16px;
  color: white;
  padding: 6px 18px;
  word-spacing: 2px;
  font-weight: 500;
  line-height: 22px;
  overflow: hidden;
}

#shorts_sliding_container {
  height: 95.5%;
  width: 25.6%;
  position: absolute;
  top: 1.8%;
  right: 5.4%;
  border-radius: 14px;
  border: 2px solid #3f3f3f;
  display: flex;
  flex-direction: column;
  transition: all 300ms linear;
}
#shorts_sliding_container_header {
  height: 6.3%;
  width: 100%;
  border-bottom: 2px solid #3f3f3f;
  display: flex;
  align-items: center;
  padding: 0 4%;
}
#shorts_sliding_container_main {
  flex: 1;
  width: 100%;
  padding: 16px 24px;
  overflow: hidden;
}
#shorts_sliding_container_footer {
  height: 8.16%;
  width: 100%;
  border-top: 2px solid #3f3f3f;
  padding: 12px 24px;
}
#shorts_sliding_container_heading {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
#shorts_comments_count {
  font-size: 17px;
  color: #aaaaaa;
  margin-left: 3%;
}
.shorts_sliding_container_header_icon {
  height: 75%;
  width: 9.6%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shorts_sliding_container_header_icon i {
  font-size: 24px;
  color: #fff;
}
.shorts_comment_sort {
  margin-left: auto;
}
.shorts_comment_sort i {
  font-size: 18px;
}

#shorts_create_a_comment {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#shorts_create_a_comment #user_img_container {
  height: 85%;
  width: 10%;
  background-color: #363636;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#create_a_comment #create_a_comment img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: 100%;
}
#shorts_comment_input_container {
  height: 100%;
  width: 87%;
  padding-left: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#shorts_comment_input_container input {
  height: 40%;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #717171;
  font-size: 20px;
  color: white;
  font-size: 14px;
}
#comment_input_container input:focus {
  border-bottom: 3px solid #b1b1b1;
}
#input_extra_options {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#emoji_button {
  height: 100%;
  width: 2.1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#emoji_button {
  font-size: 24px;
  color: #cccccc;
}
#input_container_button {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
#cancel,
#comment {
  height: 100%;
  padding: 10px;
  width: auto;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}
#cancel:hover,
#comment:hover {
  border-bottom: 1px solid white;
}

#comments_collection_container {
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#comment_container_shorts {
  width: 100%;
  min-height: 18%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#comment_box_shorts {
  min-height: 68.4%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
#reply_container {
  height: 36px;
  width: 100%;
  margin-left: 4%;
}
#reply_button_shorts {
  height: 100%;
  width: 30%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
}
#reply_button:hover {
  background-color: rgba(3, 49, 255, 0.2);
}
#reply_button_icon {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: right;
}
#reply_button_icon i {
  font-size: 16px;
  color: #3ea6ff;
}
#reply_button_text {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #3ea6ff;
}
#channel_logo_at_comment_shorts {
  height: 48px;
  width: 11%;
  background-color: #fff;
  margin-right: 1.8%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#channel_logo_at_comment img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
#comment_info_container_shorts {
  height: 80%;
  width: 72%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 6px;
}
#comments_three_dots {
  height: 100%;
  width: 2.8%;
  display: flex;
  justify-content: center;
  padding-top: 1%;
  color: white;
}
#comment_info_shorts {
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1%;
}
#comment_channel_name {
  height: 100%;
  width: auto;
  color: white;
  font-weight: 700;
  font-size: 17px;
  display: flex;
  align-items: center;
}
#comment_time {
  height: 100%;
  width: auto;
  color: #aaaaaa;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
}
#users_comment_shorts {
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  color: white;
  padding-right: 1%;
  height: auto;
  margin-top: 0.4%;
  margin-bottom: 4px;
}
#comment_like_dislike_container_shorts {
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5%;
  margin-bottom: 0.5%;
}
#comment_like_container_shorts {
  height: 100%;
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
#comment_dislike_container_shorts {
  height: 100%;
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
#comment_reply_option {
  height: 100%;
  width: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#comment_like_icon_container,
#comment_dislike_icon_container {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#comment_like_icon_container i,
#comment_dislike_icon_container i {
  font-size: 20px;
  color: white;
}
#comment_like_count,
#comment_dislike_count {
  height: 100%;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #939393;
}
#comment_reply_option {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 20px;
  transition: all 150ms ease-in;
  font-weight: 600;
  font-size: 14px;
}
#comment_reply_option:hover {
  background-color: #363636;
}
